Repository boostcampwm-2021/web06-booslack, pull requests merged in 2021-11, with the labels that each got.

#62 chore: Backend 환경 설정 구현 및 DB 설정 완료
  backend/src/@types/express/index.d.ts
  backend/src/Server.ts
  backend/src/index.ts
  backend/src/model/Channel.ts
  backend/src/model/User.ts
  backend/src/model/Workspace.ts
  backend/src/ormconfig.ts
  backend/src/repository/ChannelRepository.ts
  backend/src/repository/UserRepository.ts
  backend/src/repository/WorkspaceRepository.ts
  backend/src/routes/ChannelController.ts
  backend/src/routes/WorkspaceController.ts
  backend/src/routes/index.ts
  backend/src/service/ChannelService.ts
  backend/src/service/WorkspaceService.ts
Labels: 🐛 bug, 🌙 backend

#61 Feat: Workspace Content(채팅) 기본 뼈대 구현
  frontend/public/index.html
  frontend/src/components/atoms/ViewPortInput/index.tsx
  frontend/src/components/atoms/ViewPortInput/styles.ts
  frontend/src/components/molecules/ChatHeader/index.tsx
  frontend/src/components/molecules/ChatHeader/styles.ts
  frontend/src/components/molecules/ChatInput/index.tsx
  frontend/src/components/molecules/ChatInput/styles.ts
  frontend/src/components/molecules/ThreadContent/index.tsx
  frontend/src/components/molecules/ThreadContent/styles.ts
  frontend/src/components/organisms/ChatContent/index.tsx
  frontend/src/components/organisms/ChatContent/styles.ts
  frontend/src/components/organisms/ChatInputBackground/index.tsx
  frontend/src/components/organisms/ChatInputBackground/styles.ts
  frontend/src/components/organisms/WorkspaceContent/index.tsx
  frontend/src/components/organisms/WorkspaceContent/style.ts
  frontend/src/components/pages/Workspace/index.tsx
  frontend/src/components/pages/Workspace/styles.ts
  frontend/src/components/templates/Workspace/index.tsx
  frontend/src/components/templates/Workspace/styles.ts
  frontend/src/enum/index.ts
  frontend/src/style.ts
  frontend/tsconfig.json
Labels: ☀️ frontend, Priority : Low, 📋 워크스페이스 - 채널

#63 feat: 회원은 새로운 채널을 생성할 수 있다
  backend/package.json
  backend/src/Server.ts
  backend/yarn.lock
  frontend/package.json
  frontend/public/index.html
  frontend/src/components/atoms/IconButton/index.tsx
  frontend/src/components/atoms/IconButton/styles.ts
  frontend/src/components/atoms/Input/index.tsx
  frontend/src/components/atoms/Label/index.tsx
  frontend/src/components/atoms/Label/styles.ts
  frontend/src/components/atoms/LabeledButton/index.tsx
  frontend/src/components/atoms/LabeledButton/styles.ts
  frontend/src/components/atoms/Modal/index.tsx
  frontend/src/components/atoms/Modal/styles.ts
  frontend/src/components/molecules/LabeledInput/index.tsx
  frontend/src/components/molecules/LabeledInput/styles.ts
  frontend/src/components/molecules/SidebarAddElement/index.tsx
  frontend/src/components/molecules/SidebarAddElement/styles.ts
  frontend/src/components/molecules/SidebarChannelElement/index.tsx
  frontend/src/components/molecules/SidebarChannelElement/styles.ts
  frontend/src/components/molecules/SidebarDivision/index.tsx
  frontend/src/components/molecules/SidebarDivision/styles.ts
  frontend/src/components/organisms/CreateChannelModal/index.tsx
  frontend/src/components/organisms/CreateChannelModal/styles.ts
  frontend/src/components/organisms/WorkspaceSidebar/index.tsx
  frontend/src/components/organisms/WorkspaceSidebar/style.ts
  frontend/src/components/pages/Workspace/index.tsx
  frontend/src/hooks/useInputs.ts
  frontend/src/state/modal/index.tsx
  frontend/tsconfig.json
  frontend/webpack.config.js
  frontend/yarn.lock
Labels: ☀️ frontend, 🌙 backend, ⚙️ 환경 설정, 📋 워크스페이스 - 채널

#64 feat: 회원은 해당 서비스를 사용하기 위해 회원 가입을 해야 하고 로그인을 해야 합니다.
  backend/.eslintrc.json
  backend/.prettierrc.json
  backend/build.ts
  backend/package-lock.json
  backend/package.json
  backend/src/Server.ts
  backend/src/config/GithubPassport.ts
  backend/src/model/User.ts
  backend/src/model/Workspace.ts
  backend/src/public/scripts/index.js
  backend/src/routes/LoginController.ts
  backend/src/service/ChannelService.ts
  backend/src/service/UserService.ts
  backend/src/service/WorkspaceService.ts
  backend/tsconfig.json
  backend/yarn.lock
  frontend/.eslintrc.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/organisms/ChatContent/index.tsx
  frontend/src/components/organisms/ChatInputBackground/index.tsx
  frontend/src/components/organisms/LoginContent/index.tsx
  frontend/src/components/organisms/LoginContent/style.ts
  frontend/src/components/organisms/WorkspaceContent/style.ts
  frontend/src/components/pages/Changepassword/index.tsx
  frontend/src/components/pages/Login/index.tsx
  frontend/src/components/pages/Login/style.ts
  frontend/src/components/pages/Signup/index.tsx
  frontend/src/index.test.tsx
  frontend/src/style.ts
  frontend/tsconfig.json
  frontend/webpack.config.js
  frontend/yarn.lock
Labels: 🐛 bug, ☀️ frontend, 🌙 backend, ⚙️ 환경 설정, Priority : Low, 📋 계정 관리 기능

#73 feat : 간단한 CD 완성, browseChannel 정렬, 검색, 페이지네이션 구현
  .github/workflows/ReleaseNCP.yml
  .github/workflows/releaseRepo.yml
  backend/package-lock.json
  backend/src/Server.ts
  backend/src/enum/index.ts
  backend/src/repository/ChannelRepository.ts
  backend/src/service/ChannelService.ts
  backend/tsconfig.json
  frontend/package-lock.json
  frontend/src/components/atoms/LabeledButton/styles.ts
  frontend/src/components/atoms/LabeledDefaultButton/index.tsx
  frontend/src/components/atoms/Popup/index.tsx
  frontend/src/components/atoms/Popup/styles.ts
  frontend/src/components/atoms/ViewPortInput/index.tsx
  frontend/src/components/molecules/AsyncBranch/index.tsx
  frontend/src/components/molecules/AsyncBranch/styles.ts
  frontend/src/components/molecules/ChannelList/index.tsx
  frontend/src/components/molecules/ChatInput/index.tsx
  frontend/src/components/molecules/SearchBar/index.tsx
  frontend/src/components/molecules/SearchBar/styles.ts
  frontend/src/components/molecules/SelectbrowseChannelPage/index.tsx
  frontend/src/components/molecules/SelectbrowseChannelPage/styles.ts
  frontend/src/components/molecules/SortedOptionMordal/index.tsx
  frontend/src/components/molecules/SortedOptionMordal/styles.ts
  frontend/src/components/molecules/ThreadContent/index.tsx
  frontend/src/components/organisms/BrowseChannelList/index.tsx
  frontend/src/components/organisms/BrowseChannelList/styles.ts
  frontend/src/components/organisms/BrowseContent/index.tsx
  frontend/src/components/organisms/BrowseContent/styles.ts
  frontend/src/components/organisms/BrowseMordalContainer/index.tsx
  frontend/src/components/organisms/BrowseMordalContainer/styles.ts
  frontend/src/components/organisms/WorkspaceContent/index.tsx
  frontend/src/components/pages/BrowseChannel/index.tsx
  frontend/src/components/pages/Workspace/index.tsx
  frontend/src/enum/index.ts
  frontend/src/global/api/index.ts
  frontend/src/global/interface/index.ts
  frontend/src/global/type/index.ts
  frontend/src/global/util/index.ts
  frontend/src/hooks/useAsync.ts
  frontend/src/interface/index.ts
  frontend/src/state/Channel/index.ts
  frontend/tsconfig.json
  frontend/webpack.config.js
Labels: ☀️ frontend, 🌙 backend, ⚙️ 환경 설정, 📋 워크스페이스 - 채널

#70 feat: 채널별 라우팅과 채널 참가하기
  backend/src/@types/express/index.d.ts
  backend/src/model/Channel.ts
  backend/src/model/Reply.ts
  backend/src/model/Thread.ts
  backend/src/model/UserHasWorkspace.ts
  backend/src/repository/ChannelRepository.ts
  backend/src/repository/UserHasWorkspace.ts
  backend/src/routes/ChannelController.ts
  backend/src/service/ChannelService.ts
  backend/src/service/UserService.ts
  backend/src/service/WorkspaceService.ts
  frontend/src/App.tsx
  frontend/src/components/molecules/SidebarChannelElement/index.tsx
  frontend/src/components/organisms/ChannelJoinFooter/index.tsx
  frontend/src/components/organisms/ChannelJoinFooter/styles.ts
  frontend/src/components/organisms/SidebarChannelInfoModal/index.tsx
  frontend/src/components/organisms/SidebarChannelInfoModal/styles.ts
  frontend/src/components/organisms/WorkspaceContent/index.tsx
  frontend/src/components/organisms/WorkspaceSidebar/index.tsx
  frontend/src/components/pages/Workspace/index.tsx
  frontend/src/components/templates/Workspace/index.tsx
  frontend/src/global/api/index.ts
  frontend/src/state/Channel/index.ts
  frontend/src/state/modal/index.tsx
  frontend/webpack.config.js
Labels: ⚡ enhancement, ☀️ frontend, 🌙 backend, 📋 워크스페이스 - 채널

#71 feat: 채널 정보 모달 생성
  backend/src/routes/UserController.ts
  backend/src/routes/WorkspaceController.ts
  backend/src/routes/index.ts
  frontend/src/App.tsx
  frontend/src/components/atoms/IconButton/index.tsx
  frontend/src/components/atoms/Input/index.tsx
  frontend/src/components/atoms/Input/styles.ts
  frontend/src/components/atoms/Label/index.tsx
  frontend/src/components/atoms/LabeledButton/index.tsx
  frontend/src/components/atoms/LabeledButton/styles.ts
  frontend/src/components/atoms/Modal/index.tsx
  frontend/src/components/atoms/Modal/styles.ts
  frontend/src/components/atoms/ToggleButton/index.tsx
  frontend/src/components/atoms/ToggleButton/styles.ts
  frontend/src/components/molecules/BrowseChannelHeader/index.tsx
  frontend/src/components/molecules/BrowseChannelHeader/styles.ts
  frontend/src/components/molecules/ChatHeader/index.tsx
  frontend/src/components/molecules/ChatHeader/styles.ts
  frontend/src/components/molecules/LabeledInput/index.tsx
  frontend/src/components/molecules/LabeledInput/styles.ts
  frontend/src/components/organisms/BrowseChannelList/index.tsx
  frontend/src/components/organisms/BrowseContent/index.tsx
  frontend/src/components/organisms/ChannelAbout/AboutElement/index.tsx
  frontend/src/components/organisms/ChannelAbout/AboutElement/styles.ts
  frontend/src/components/organisms/ChannelAbout/index.tsx
  frontend/src/components/organisms/ChannelAbout/styles.ts
  frontend/src/components/organisms/ChannelDescriptionModal/index.tsx
  frontend/src/components/organisms/ChannelDescriptionModal/styles.ts
  frontend/src/components/organisms/ChannelInfoModal/index.tsx
  frontend/src/components/organisms/ChannelInfoModal/styles.ts
  frontend/src/components/organisms/ChannelJoinFooter/index.tsx
  frontend/src/components/organisms/ChannelMembers/MemberElement/index.tsx
  frontend/src/components/organisms/ChannelMembers/MemberElement/styles.ts
  frontend/src/components/organisms/ChannelMembers/index.tsx
  frontend/src/components/organisms/ChannelMembers/styles.ts
  frontend/src/components/organisms/CreateChannelModal/index.tsx
  frontend/src/components/organisms/CreateChannelModal/styles.ts
  frontend/src/components/organisms/WorkspaceContent/index.tsx
  frontend/src/components/organisms/WorkspaceSidebar/index.tsx
  frontend/src/components/pages/Workspace/index.tsx
  frontend/src/components/templates/Workspace/index.tsx
  frontend/src/global/api/index.ts
  frontend/src/index.tsx
  frontend/src/state/Channel/index.ts
  frontend/src/state/modal/index.tsx
Labels: ☀️ frontend, 📋 워크스페이스 - 채널, ↩️ refactor

#90 fix: backend 에 @enum 경로 미포함문제 해결
  .github/workflows/releaseRepo.yml
  backend/package.json
  frontend/src/global/theme/index.ts
Labels: ⚙️ 환경 설정

#95 feat: 멤버 검색 자동완성과 목록 표시
  backend/src/Server.ts
  backend/src/repository/UserRepository.ts
  backend/src/routes/UserController.ts
  backend/src/service/ChannelService.ts
  backend/src/service/UserService.ts
  frontend/package.json
  frontend/src/components/organisms/ChannelMembers/index.tsx
  frontend/src/components/organisms/ChannelMembers/styles.ts
  frontend/yarn.lock
Labels: ☀️ frontend, 🌙 backend, 📋 워크스페이스 - 채널

#99 [회원은 해당 서비스를 사용하기 위해 회원 가입을 해야 한다] 비밀번호, 동일한 비밀번호 입력이 다르다면 올바르게 입력하라는 알림을 알린다.
  backend/.prettierrc.json
  backend/src/Server.ts
  frontend/.prettierrc.json
  frontend/src/components/atoms/Input/index.tsx
  frontend/src/components/atoms/LabeledButton/index.tsx
  frontend/src/components/organisms/ChangePasswordContent/index.tsx
  frontend/src/components/organisms/ChangePasswordContent/style.ts
  frontend/src/components/organisms/CreateLoginModal/index.tsx
  frontend/src/components/organisms/CreateLoginModal/style.ts
  frontend/src/components/organisms/LoginContent/index.tsx
  frontend/src/components/organisms/LoginContent/style.ts
  frontend/src/components/organisms/SignupContent/index.tsx
  frontend/src/components/organisms/SignupContent/style.ts
  frontend/src/global/globalstyle.ts
  frontend/src/global/util/Logout.ts
  frontend/src/global/util/ValidPassword.ts
  frontend/src/state/modal/index.tsx
  frontend/webpack.config.js
Labels: ☀️ frontend, ⚙️ 환경 설정, Priority : Low, 📋 계정 관리 기능

#102 feat: 자동 완성 템플릿 구현
  frontend/src/components/atoms/Autocomplete/index.tsx
  frontend/src/components/atoms/Popup/index.tsx
  frontend/src/components/atoms/Popup/styles.ts
  frontend/src/components/molecules/MentionPopup/MentionPopupTemplate/index.tsx
  frontend/src/components/molecules/MentionPopup/MentionPopupTemplate/styles.ts
  frontend/src/components/molecules/MentionPopup/index.tsx
  frontend/src/components/molecules/MentionPopup/styles.ts
  frontend/src/components/organisms/ChannelMembers/MemberElement/index.tsx
  frontend/src/components/organisms/ChannelMembers/MemberElement/styles.ts
  frontend/src/components/organisms/ChannelMembers/MemberTemplate/index.tsx
  frontend/src/components/organisms/ChannelMembers/MemberTemplate/styles.ts
  frontend/src/components/organisms/ChannelMembers/index.tsx
  frontend/src/components/organisms/ChannelMembers/styles.ts
Labels: ☀️ frontend, 📋 워크스페이스 - 채널, ↩️ refactor

#103 [회원은 마크다운형식으로 메세지를 작성할 수 있습니다] 입력바는 입력시 md 형식을 인식하고 변경해준다. (코드 블락, 순서없는 리스트, 순서있는 리스트, 인용구 블락) 블락단위의 경우 shift+enter로 아래줄로 내려가도 해당 블락으로 유지된다.
  backend/src/config/LocalPassport.ts
  backend/src/service/ChannelService.ts
  backend/src/service/UserService.ts
  frontend/src/components/organisms/ChatInputBackground/index.tsx
  frontend/src/components/organisms/ChatInputBackground/styles.ts
  frontend/src/components/organisms/SidebarChannelInfoModal/index.tsx
  frontend/src/components/organisms/WorkspaceSidebar/index.tsx
  frontend/src/components/templates/WorkspaceList/index.tsx
  frontend/src/global/util/inputEventHandlers.ts
  frontend/src/state/modal/index.tsx
Labels: ☀️ frontend, 📋 워크스페이스 - 채널 쓰레드

#105 fix: 모달 css 제대로 붙어있도록 동적으로 구현
  frontend/src/components/atoms/LabeledButton/index.tsx
  frontend/src/components/atoms/LabeledDefaultButton/index.tsx
  frontend/src/components/molecules/SortedOptionMordal/index.tsx
  frontend/src/components/molecules/SortedOptionMordal/styles.ts
  frontend/src/components/organisms/BrowseMordalContainer/index.tsx
  frontend/src/hooks/useHandle.ts
Labels: 🐛 bug, ☀️ frontend

#106 feat: 이모티콘 자동완성 팝업 구현
  frontend/package.json
  frontend/src/components/molecules/EmojiPopup/EmojiPopupTemplate/index.tsx
  frontend/src/components/molecules/EmojiPopup/EmojiPopupTemplate/styles.ts
  frontend/src/components/molecules/EmojiPopup/index.tsx
  frontend/src/components/molecules/EmojiPopup/styles.ts
  frontend/yarn.lock
Labels: ☀️ frontend, 📋 워크스페이스 - 채널 쓰레드, ↩️ refactor

#108 chore : front jest 코드 생성 및 간단한 CI 적용
  .github/workflows/CI.yml
  .github/workflows/releaseRepo.yml
  frontend/jest.config.js
  frontend/package.json
  frontend/src/components/atoms/LabeledButton/index.tsx
  frontend/src/components/molecules/SidebarDivision/index.tsx
  frontend/src/components/molecules/SortedOptionMordal/index.tsx
  frontend/src/components/molecules/SortedOptionMordal/styles.ts
  frontend/src/components/molecules/SubmitCodeForm/index.tsx
  frontend/src/components/molecules/SubmitCodeForm/styles.ts
  frontend/src/components/organisms/ChannelAbout/index.tsx
  frontend/src/components/organisms/ChannelDescriptionModal/index.tsx
  frontend/src/components/organisms/ChannelInfoModal/index.tsx
  frontend/src/components/organisms/CreateChannelModal/index.tsx
  frontend/src/components/organisms/SetupTeamQuestions/index.tsx
  frontend/src/components/organisms/WorkspaceListContent/index.tsx
  frontend/src/components/organisms/WorkspaceSidebar/index.tsx
  frontend/src/components/pages/InvitedCode/index.tsx
  frontend/src/components/templates/WorkspaceList/index.tsx
  frontend/src/hooks/useRefLocate.ts
  frontend/src/index.test.tsx
  frontend/src/test/page.test.tsx
  frontend/webpack.config.js
Labels: ⚙️ 환경 설정

#109 feat: 사용자는 로그인 여부에 따라 사용할 수 있는 페이지가 정해져 있다.
  README.md
  backend/src/routes/LoginController.ts
  frontend/src/App.tsx
  frontend/src/components/organisms/LoginContent/index.tsx
  frontend/src/components/organisms/SetupTeamQuestions/index.tsx
  frontend/src/components/organisms/WorkspaceSidebar/index.tsx
  frontend/src/components/pages/BrowseChannel/index.tsx
  frontend/src/components/pages/Changepassword/index.tsx
  frontend/src/components/pages/GeneratedCode/index.tsx
  frontend/src/components/pages/InvitedCode/index.tsx
  frontend/src/components/pages/Login/index.tsx
  frontend/src/components/pages/NotFound/index.tsx
  frontend/src/components/pages/NotLogin/index.tsx
  frontend/src/components/pages/NotLogin/style.ts
  frontend/src/components/pages/NotLogout/index.tsx
  frontend/src/components/pages/NotLogout/style.ts
  frontend/src/components/pages/SetupTeam/index.tsx
  frontend/src/components/pages/Signup/index.tsx
  frontend/src/components/pages/Workspace/index.tsx
  frontend/src/components/templates/WorkspaceList/index.tsx
  frontend/src/global/util/CheckIsLogin.ts
  frontend/src/global/util/CheckIsLogout.ts
  frontend/src/global/util/Logout.ts
  frontend/src/global/util/routes/PrivateRoute.tsx
  frontend/src/global/util/routes/PublicRoute.tsx
  frontend/src/global/util/routes/TotalRoute.tsx
Labels: ☀️ frontend, 🌙 backend, Priority : Middle

#111 feat: 워크스페이스 생성, 출력 부분 기초 구현
  backend/src/Server.ts
  backend/src/model/UserHasWorkspace.ts
  backend/src/model/Workspace.ts
  backend/src/routes/LoginController.ts
  backend/src/routes/WorkspaceController.ts
  backend/src/service/WorkspaceService.ts
  backend/yarn.lock
  frontend/src/components/molecules/AsyncBranch/index.tsx
  frontend/src/components/molecules/SelectWorkspace/index.tsx
  frontend/src/components/molecules/SubmitCodeForm/index.tsx
  frontend/src/components/molecules/SubmitCodeForm/styles.ts
  frontend/src/components/organisms/BrowseChannelList/index.tsx
  frontend/src/components/organisms/SetupTeamQuestions/index.tsx
  frontend/src/components/organisms/WorkspaceListContent/index.tsx
  frontend/src/components/organisms/WorkspaceListContent/styles.ts
  frontend/src/components/pages/GeneratedCode/index.tsx
  frontend/src/components/pages/InvitedCode/index.tsx
  frontend/src/components/templates/WorkspaceList/index.tsx
  frontend/src/global/api/index.ts
  frontend/src/global/type/index.ts
  frontend/src/global/util/index.ts
  frontend/src/hooks/useAsync.ts
  frontend/src/test/page.test.tsx
  frontend/src/test/workspacelist.test.tsx
Labels: 🌙 backend, 📋워크스페이스 - 워크스페이스 관리

#127 feat: Workspace, Channel, User 상태 리코일에 저장
  backend/src/routes/LoginController.ts
  backend/src/service/WorkspaceService.ts
  backend/src/views/index.html
  frontend/.eslintrc.json
  frontend/src/App.tsx
  frontend/src/components/molecules/ChatHeader/index.tsx
  frontend/src/components/organisms/ChangePasswordContent/index.tsx
  frontend/src/components/organisms/SignupContent/index.tsx
  frontend/src/components/organisms/WorkspaceListContent/index.tsx
  frontend/src/components/organisms/WorkspaceSidebar/index.tsx
  frontend/src/components/pages/NotLogout/index.tsx
  frontend/src/components/pages/Workspace/index.tsx
  frontend/src/components/templates/WorkspaceList/index.tsx
  frontend/src/global/type/index.ts
  frontend/src/global/util/CheckIsLogin.ts
  frontend/src/global/util/CheckIsLogout.ts
  frontend/src/global/util/Logout.ts
  frontend/src/global/util/auth.ts
  frontend/src/global/util/routes/PrivateRoute.tsx
  frontend/src/global/util/routes/PublicRoute.tsx
  frontend/src/global/util/routes/TotalRoute.tsx
  frontend/src/global/util/validatePassword.ts
  frontend/src/routes/PrivateRoute.tsx
  frontend/src/routes/PublicRoute.tsx
  frontend/src/state/user/index.ts
  frontend/tsconfig.json
Labels: ☀️ frontend, 🌙 backend, 📋워크스페이스 - 워크스페이스 관리, 📋 워크스페이스 - 채널, ↩️ refactor

#129 [회원은 메세지나 답글을 작성할 때, 이모티콘을 첨부할 수 있다]선택한 이모티콘 이미지를 입력바에 입력한다.
  frontend/src/components/atoms/Autocomplete/index.tsx
  frontend/src/components/molecules/EmojiPopup/EmojiPopupTemplate/index.tsx
  frontend/src/components/molecules/EmojiPopup/index.tsx
  frontend/src/components/organisms/ChannelJoinFooter/index.tsx
  frontend/src/components/organisms/ChatInputBackground/index.tsx
  frontend/src/components/organisms/ChatInputBackground/styles.ts
  frontend/src/components/organisms/WorkspaceContent/index.tsx
  frontend/src/global/util/inputEventHandlers.ts
Labels: ☀️ frontend, 📋 워크스페이스 - 채널 쓰레드

#128 feat: Thread api 추가
  backend/src/@types/express/index.d.ts
  backend/src/model/Thread.ts
  backend/src/repository/ThreadRepository.ts
  backend/src/routes/ThreadController.ts
  backend/src/routes/index.ts
  backend/src/service/ThreadService.ts
  frontend/src/components/organisms/ChatContent/index.tsx
Labels: 🌙 backend, 📋 워크스페이스 - 채널 쓰레드

#131 feat: 코드 generator 작성, code를 통한 workspace 입장, 워크스페이스당 유저 수 count 해서 출력
  backend/src/@types/express/index.d.ts
  backend/src/model/Workspace.ts
  backend/src/repository/UserHasWorkspaceRepository.ts
  backend/src/routes/WorkspaceController.ts
  backend/src/service/WorkspaceService.ts
  backend/src/shared/simpleuuid.ts
  frontend/src/components/organisms/CodeModal/index.tsx
  frontend/src/components/organisms/CodeModal/style.ts
  frontend/src/components/organisms/SetupTeamQuestions/index.tsx
  frontend/src/components/organisms/SubmitCodeForm/index.tsx
  frontend/src/components/organisms/SubmitCodeForm/styles.ts
  frontend/src/components/organisms/WorkspaceListContent/index.tsx
  frontend/src/components/pages/GeneratedCode/index.tsx
  frontend/src/components/pages/InvitedCode/index.tsx
  frontend/src/components/pages/SetupTeam/index.tsx
  frontend/src/components/templates/Code/index.tsx
  frontend/src/components/templates/Code/styles.ts
  frontend/src/enum/index.ts
  frontend/src/global/api/index.ts
  frontend/src/global/util/index.ts
  frontend/src/routes/PublicRoute.tsx
  frontend/src/state/modal/index.tsx
Labels: ☀️ frontend, 🌙 backend, 📋워크스페이스 - 워크스페이스 관리

#130 모든 테이블에 대한 데이터들을 자동으로 만들어서 데이터베이스에 저장합니다.
  backend/.prettierrc.json
  backend/package.json
  backend/src/config/GithubPassport.ts
  backend/src/config/LocalPassport.ts
  backend/src/enum/index.ts
  backend/src/index.ts
  backend/src/model/Channel.ts
  backend/src/model/Dm.ts
  backend/src/model/Emotion.ts
  backend/src/model/File.ts
  backend/src/model/Reaction.ts
  backend/src/model/Reply.ts
  backend/src/model/Thread.ts
  backend/src/model/User.ts
  backend/src/model/UserHasWorkspace.ts
  backend/src/model/Workspace.ts
  backend/src/repository/ChannelRepository.ts
  backend/src/repository/ThreadRepository.ts
  backend/src/repository/UserHasWorkspaceRepository.ts
  backend/src/repository/UserRepository.ts
  backend/src/repository/WorkspaceRepository.ts
  backend/src/routes/LoginController.ts
  backend/src/sample/InsertChannelSample.ts
  backend/src/sample/InsertEmotionSample.ts
  backend/src/sample/InsertFileSample.ts
  backend/src/sample/InsertReactionSample.ts
  backend/src/sample/InsertReplySample.ts
  backend/src/sample/InsertThreadSample.ts
  backend/src/sample/InsertUserHasWorkspace.ts
  backend/src/sample/InsertUserSample.ts
  backend/src/sample/InsertWorkspaceSample.ts
  backend/src/sample/index.ts
  backend/src/sample/value/ChannelSampleValue.ts
  backend/src/sample/value/EmotionSampleValue.ts
  backend/src/sample/value/FileSampleValue.ts
  backend/src/sample/value/ReactionSampleValue.ts
  backend/src/sample/value/ReplySampleValue.ts
  backend/src/sample/value/ThreadSampleValue.ts
  backend/src/sample/value/UserHasWorkspaceSampleValue.ts
  backend/src/sample/value/UserSampleValue.ts
  backend/src/sample/value/WorkspaceSampleValue.ts
  backend/src/service/ChannelService.ts
  backend/src/service/ThreadService.ts
  backend/src/service/UserService.ts
  backend/src/service/WorkspaceService.ts
  backend/src/util/getNowDate.ts
  backend/yarn.lock
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/pages/GetError/index.tsx
  frontend/src/components/pages/GetError/style.ts
  frontend/src/components/pages/Loading/index.tsx
  frontend/src/components/pages/Loading/style.ts
  frontend/src/components/pages/NotLogin/index.tsx
  frontend/src/components/pages/NotLogout/index.tsx
  frontend/yarn.lock
Labels: 🌙 backend, ⚙️ 환경 설정, 🧪 test code, 📋 워크스페이스 - 채널 쓰레드

#133 feat : react-query를 이용한 무한 스크롤 훅, 페이지네이션 훅 구현
  backend/src/enum/index.ts
  backend/src/repository/UserHasWorkspaceRepository.ts
  backend/src/service/WorkspaceService.ts
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/atoms/LabeledButton/index.tsx
  frontend/src/components/atoms/LabeledButton/styles.ts
  frontend/src/components/atoms/LabeledDefaultButton/index.tsx
  frontend/src/components/molecules/AsyncBranch/index.tsx
  frontend/src/components/organisms/BrowseChannelList/index.tsx
  frontend/src/components/organisms/WorkspaceHeader/index.tsx
  frontend/src/components/organisms/WorkspaceHeader/style.ts
  frontend/src/components/organisms/WorkspaceHeader/styles.ts
  frontend/src/components/organisms/WorkspaceListContent/index.tsx
  frontend/src/components/organisms/WorkspaceListContent/styles.ts
  frontend/src/components/templates/EmptyWorkspace/index.tsx
  frontend/src/enum/index.ts
  frontend/src/global/theme/index.ts
  frontend/src/global/util/reactQueryUtil.ts
  frontend/src/hooks/useHandle.ts
  frontend/src/hooks/useInfinityScroll.ts
  frontend/src/hooks/usePagnation.ts
  frontend/src/test/page.test.tsx
  frontend/src/test/workspacelist.test.tsx
  frontend/yarn.lock
Labels: ☀️ frontend, 🌙 backend, 📋워크스페이스 - 워크스페이스 관리

#135 [회원은 메시지에서 다른 사람을 멘션할 수 있다]회원은 메시지에서 다른 사람을 멘션할 수 있다.
  backend/src/sample/value/UserHasWorkspaceSampleValue.ts
  frontend/src/components/molecules/MentionPopup/index.tsx
  frontend/src/components/organisms/ChatInputBackground/index.tsx
  frontend/src/components/organisms/ChatInputBackground/styles.ts
  frontend/src/global/util/inputEventHandlers.ts
Labels: ☀️ frontend, 📋 워크스페이스 - 채널 쓰레드

#140 feat: react-query로 리팩토링과 recoil & useParams로 현재 상태 저장
  backend/src/@types/express/index.d.ts
  backend/src/routes/UserHasWorkspaceController.ts
  backend/src/routes/index.ts
  backend/src/service/ChannelService.ts
  backend/src/service/UserHasWorkspaceService.ts
  frontend/src/components/atoms/LabeledButton/index.tsx
  frontend/src/components/atoms/LabeledDefaultButton/index.tsx
  frontend/src/components/molecules/ChannelList/index.tsx
  frontend/src/components/molecules/ChatHeader/index.tsx
  frontend/src/components/molecules/MentionPopup/index.tsx
  frontend/src/components/organisms/BrowseChannelList/index.tsx
  frontend/src/components/organisms/ChannelJoinFooter/index.tsx
  frontend/src/components/organisms/ChannelJoinFooter/styles.ts
  frontend/src/components/organisms/ChannelMembers/index.tsx
  frontend/src/components/organisms/CreateChannelModal/index.tsx
  frontend/src/components/organisms/SidebarChannelInfoModal/index.tsx
  frontend/src/components/organisms/SidebarChannelInfoModal/styles.ts
  frontend/src/components/organisms/WorkspaceContent/index.tsx
  frontend/src/components/organisms/WorkspaceListContent/index.tsx
  frontend/src/components/organisms/WorkspaceSidebar/index.tsx
  frontend/src/components/pages/Workspace/index.tsx
  frontend/src/components/templates/Workspace/index.tsx
  frontend/src/global/api/channel/index.ts
  frontend/src/hooks/useChannels.ts
Labels: ☀️ frontend, 🌙 backend, Priority : High, 📋 워크스페이스 - 채널 쓰레드, ↩️ refactor

#141 feat : 워크스페이스 내부 채널 쿼리 완성
  backend/src/repository/ChannelRepository.ts
  backend/src/service/ChannelService.ts
  backend/src/service/WorkspaceService.ts
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/atoms/ImageButton/index.tsx
  frontend/src/components/molecules/AsyncBranch/index.tsx
  frontend/src/components/molecules/AsyncBranch/styles.ts
  frontend/src/components/molecules/ChannelList/index.tsx
  frontend/src/components/molecules/ChannelList/styles.ts
  frontend/src/components/molecules/ChatHeader/styles.ts
  frontend/src/components/molecules/NoOverlayModal/index.tsx
  frontend/src/components/molecules/NoOverlayModal/styles.ts
  frontend/src/components/molecules/SelectbrowseChannelPage/index.tsx
  frontend/src/components/molecules/SelectbrowseChannelPage/styles.ts
  frontend/src/components/molecules/SidebarAddElement/styles.ts
  frontend/src/components/molecules/SidebarChannelElement/index.tsx
  frontend/src/components/molecules/SidebarChannelElement/styles.ts
  frontend/src/components/organisms/BrowseChannelList/index.tsx
  frontend/src/components/organisms/BrowseContent/index.tsx
  frontend/src/components/organisms/BrowseContent/styles.ts
  frontend/src/components/organisms/SetupTeamQuestions/index.tsx
  frontend/src/components/organisms/WorkspaceContent/style.ts
  frontend/src/components/organisms/WorkspaceHeader/index.tsx
  frontend/src/components/organisms/WorkspaceHeader/styles.ts
  frontend/src/components/organisms/WorkspaceListContent/index.tsx
  frontend/src/components/organisms/WorkspaceListContent/styles.ts
  frontend/src/components/organisms/WorkspaceSidebar/index.tsx
  frontend/src/components/organisms/WorkspaceSidebar/style.ts
  frontend/src/components/pages/BrowseChannel/index.tsx
  frontend/src/components/pages/GeneratedCode/index.tsx
  frontend/src/components/pages/InvitedCode/index.tsx
  frontend/src/components/pages/Workspace/index.tsx
  frontend/src/components/templates/Workspace/index.tsx
  frontend/src/global/api/channel/index.ts
  frontend/src/global/mixin/index.ts
  frontend/src/global/theme/index.ts
  frontend/src/global/util/index.ts
  frontend/src/global/util/reactQueryUtil.ts
  frontend/src/hooks/useInfinityPage.ts
  frontend/src/hooks/usePagination.ts
  frontend/src/test/DefaultEnvironment.tsx
  frontend/src/test/page.test.tsx
  frontend/src/test/workspacelist.test.tsx
Labels: ☀️ frontend, 🌙 backend, 📋 워크스페이스 - 채널

#142 인풋바와 쓰레드에 대한 기본적인 스타일링
  backend/src/service/ChannelService.ts
  backend/src/service/ThreadService.ts
  frontend/src/components/atoms/ImageButton/styles.ts
  frontend/src/components/molecules/ChannelList/index.tsx
  frontend/src/components/molecules/ThreadContent/index.tsx
  frontend/src/components/molecules/ThreadContent/styles.ts
  frontend/src/components/organisms/ChatContent/index.tsx
  frontend/src/components/organisms/ChatContent/styles.ts
  frontend/src/components/organisms/ChatInputBar/WysiwygEditor/index.tsx
  frontend/src/components/organisms/ChatInputBar/WysiwygEditor/styles.ts
  frontend/src/components/organisms/ChatInputBar/index.tsx
  frontend/src/components/organisms/ChatInputBar/styles.ts
  frontend/src/components/organisms/ChatInputBar/toolbar/index.tsx
  frontend/src/components/organisms/ChatInputBar/toolbar/styles.ts
  frontend/src/components/organisms/WorkspaceContent/index.tsx
  frontend/src/components/organisms/WorkspaceSidebar/index.tsx
  frontend/src/global/image/default_account.png
  frontend/src/global/module.d.ts
  frontend/src/global/util/inputEventHandlers.ts
Labels: 📋 워크스페이스 - 채널 쓰레드

#148 feat : workspace 설정 창 구현
  backend/src/model/Thread.ts
  backend/src/model/UserHasWorkspace.ts
  backend/src/repository/ChannelRepository.ts
  backend/src/routes/UserHasWorkspaceController.ts
  backend/src/service/ChannelService.ts
  backend/src/service/UserHasWorkspaceService.ts
  backend/src/service/WorkspaceService.ts
  frontend/src/components/atoms/DivLists/index.tsx
  frontend/src/components/atoms/DivLists/styles.ts
  frontend/src/components/atoms/ImageButton/styles.ts
  frontend/src/components/atoms/RadioButton/index.tsx
  frontend/src/components/molecules/CodeModal/index.tsx
  frontend/src/components/molecules/CodeModal/style.ts
  frontend/src/components/molecules/NoOverlayModal/index.tsx
  frontend/src/components/molecules/NoOverlayModal/styles.ts
  frontend/src/components/organisms/ChatContent/index.tsx
  frontend/src/components/organisms/PreferenceModal/AboutUs/AboutUs.tsx
  frontend/src/components/organisms/PreferenceModal/PreferenceMenuContent/index.tsx
  frontend/src/components/organisms/PreferenceModal/PreferenceMenuContent/styles.ts
  frontend/src/components/organisms/PreferenceModal/ThemeSelect/ThemeSelect.tsx
  frontend/src/components/organisms/PreferenceModal/ThemeSelect/styles.ts
  frontend/src/components/organisms/PreferenceModal/WorkspaceOut/WorkspaceOut.tsx
  frontend/src/components/organisms/PreferenceModal/WorkspaceOut/styles.ts
  frontend/src/components/organisms/PreferenceModal/index.tsx
  frontend/src/components/organisms/PreferenceModal/styles.ts
  frontend/src/components/organisms/WorkspaceHeader/WorkspaceHeaderMenuList/index.tsx
  frontend/src/components/organisms/WorkspaceHeader/WorkspaceHeaderMenuList/styles.ts
  frontend/src/components/organisms/WorkspaceHeader/index.tsx
  frontend/src/components/organisms/WorkspaceHeader/styles.ts
  frontend/src/components/organisms/WorkspaceListContent/index.tsx
  frontend/src/components/pages/GeneratedCode/index.tsx
  frontend/src/components/pages/InvitedCode/index.tsx
  frontend/src/components/pages/SetupTeam/index.tsx
  frontend/src/components/templates/Workspace/index.tsx
  frontend/src/global/api/index.ts
  frontend/src/global/api/workspace/index.tsx
  frontend/src/global/image/imagedump
  frontend/src/global/util/auth.ts
  frontend/src/hooks/useWorkspace.ts
  frontend/src/state/modal/index.tsx
Labels: ☀️ frontend, 🌙 backend, 📋워크스페이스 - 워크스페이스 관리, 📋 워크스페이스 - 회원 설정 관리

#152 feat: [이미지 서버를 생성하고 file과 image를 동시에 관리할 수 있는 서버를 제작합니다. #145]채팅에서 파일 업로드를 할 수 있습니다.
  README.md
  backend/package.json
  backend/src/config/Upload.ts
  backend/src/enum/index.ts
  backend/src/repository/FileRepository.ts
  backend/src/routes/FilesController.ts
  backend/src/routes/index.ts
  backend/src/service/FilesService.ts
  backend/src/service/ThreadService.ts
  backend/src/service/UserHasWorkspaceService.ts
  backend/src/service/UserService.ts
  backend/yarn.lock
  frontend/package.json
  frontend/src/components/organisms/ChatInputBar/FileStatusBar/index.tsx
  frontend/src/components/organisms/ChatInputBar/FileStatusBar/styles.ts
  frontend/src/components/organisms/ChatInputBar/FileStatusElement/index.tsx
  frontend/src/components/organisms/ChatInputBar/FileStatusElement/styles.ts
  frontend/src/components/organisms/ChatInputBar/index.tsx
  frontend/src/components/organisms/ChatInputBar/styles.ts
  frontend/src/components/organisms/ChatInputBar/toolbar/index.tsx
  frontend/src/components/organisms/ChatInputBar/toolbar/styles.ts
  frontend/src/components/pages/BrowseChannel/index.tsx
  frontend/src/components/templates/Workspace/index.tsx
  frontend/src/global/api/thread/index.ts
  frontend/yarn.lock
Labels: ☀️ frontend, 🌙 backend, ⚙️ 환경 설정, Priority : Middle, 📋 워크스페이스 - 채널 쓰레드

#154 feat : 테마 및 browseChannel 필터링
  backend/package.json
  backend/src/enum/index.ts
  backend/src/model/User.ts
  backend/src/model/UserHasWorkspace.ts
  backend/src/repository/ChannelRepository.ts
  backend/src/routes/ThreadController.ts
  backend/src/routes/UserController.ts
  backend/src/routes/UserHasWorkspaceController.ts
  backend/src/sample/value/UserHasWorkspaceSampleValue.ts
  backend/src/sample/value/UserSampleValue.ts
  backend/src/service/ChannelService.ts
  backend/src/service/ThreadService.ts
  backend/src/service/UserHasWorkspaceService.ts
  backend/src/service/UserService.ts
  backend/yarn.lock
  frontend/src/App.tsx
  frontend/src/components/atoms/Input/index.tsx
  frontend/src/components/atoms/RadioButton/index.tsx
  frontend/src/components/atoms/ViewPortInput/index.tsx
  frontend/src/components/molecules/ChannelList/index.tsx
  frontend/src/components/molecules/ChannelList/styles.ts
  frontend/src/components/molecules/ChatHeader/styles.ts
  frontend/src/components/molecules/SearchBar/index.tsx
  frontend/src/components/molecules/SearchBar/styles.ts
  frontend/src/components/molecules/SortedOptionMordal/index.tsx
  frontend/src/components/molecules/SortedOptionMordal/styles.ts
  frontend/src/components/molecules/ThreadContent/index.tsx
  frontend/src/components/molecules/ThreadContent/styles.ts
  frontend/src/components/organisms/BrowseChannelList/index.tsx
  frontend/src/components/organisms/BrowseChannelList/styles.ts
  frontend/src/components/organisms/BrowseContent/index.tsx
  frontend/src/components/organisms/BrowseContent/styles.ts
  frontend/src/components/organisms/BrowseMordalContainer/index.tsx
  frontend/src/components/organisms/ChannelAbout/index.tsx
  frontend/src/components/organisms/ChatContent/index.tsx
  frontend/src/components/organisms/PreferenceModal/ThemeSelect/ThemeSelect.tsx
  frontend/src/components/organisms/PreferenceModal/styles.ts
  frontend/src/components/organisms/WorkspaceHeader/WorkspaceHeaderMenuList/styles.ts
  frontend/src/components/organisms/WorkspaceHeader/styles.ts
  frontend/src/components/pages/BrowseChannel/index.tsx
  frontend/src/components/pages/Workspace/index.tsx
  frontend/src/components/templates/Workspace/index.tsx
  frontend/src/enum/index.ts
  frontend/src/global/api/channel/index.ts
  frontend/src/global/api/index.ts
  frontend/src/global/image/blue.png
  frontend/src/global/image/mintchoco.png
  frontend/src/global/image/violet.png
  frontend/src/global/image/yellow.png
  frontend/src/global/theme/index.ts
  frontend/src/hooks/usePagination.ts
  frontend/src/state/modal/index.tsx
  frontend/yarn.lock
Labels: 💁🏻 help wanted, ☀️ frontend, 🌙 backend, 📋 워크스페이스 - 채널

#161 feat: 워크스페이스 생성 시 프로필 사진을 생성할 수 있고 워크스페이스 리스트에서 프로필을 확인할 수 있다.
  backend/src/repository/UserHasWorkspaceRepository.ts
  backend/src/service/WorkspaceService.ts
  frontend/src/components/molecules/SelectWorkspace/index.tsx
  frontend/src/components/molecules/SelectWorkspace/styles.ts
  frontend/src/components/organisms/ChatInputBar/Toolbar/index.tsx
  frontend/src/components/organisms/ChatInputBar/Toolbar/styles.ts
  frontend/src/components/organisms/ChatInputBar/index.tsx
  frontend/src/components/organisms/SetupTeamQuestions/index.tsx
  frontend/src/components/organisms/SetupTeamQuestions/style.ts
  frontend/src/components/organisms/WorkspaceListContent/index.tsx
  frontend/src/components/pages/BrowseChannel/index.tsx
  frontend/src/global/api/thread/index.ts
  frontend/src/global/image/workspace_default_image.png
  frontend/src/global/type/index.ts
  frontend/yarn.lock
Labels: 🐛 bug, ☀️ frontend, 🌙 backend, 📋워크스페이스 - 워크스페이스 관리

#160 [회원은 메시지와 답글에 반응할 수 있다.]이모티콘을 달면 해당 메시지 혹은 답글 아래에 보여지게 한다.
  backend/src/@types/express/index.d.ts
  backend/src/model/Emotion.ts
  backend/src/model/Reaction.ts
  backend/src/ormconfig.ts
  backend/src/repository/ReactionRepository.ts
  backend/src/routes/ReactionController.ts
  backend/src/routes/index.ts
  backend/src/sample/InsertEmotionSample.ts
  backend/src/sample/index.ts
  backend/src/sample/value/ReactionSampleValue.ts
  backend/src/service/ReactionService.ts
  backend/src/service/ThreadService.ts
  frontend/src/components/atoms/IconButton/index.tsx
  frontend/src/components/atoms/IconButton/styles.ts
  frontend/src/components/atoms/Input/index.tsx
  frontend/src/components/atoms/LabeledButton/index.tsx
  frontend/src/components/molecules/ThreadContent/ThreadActions/index.tsx
  frontend/src/components/molecules/ThreadContent/index.tsx
  frontend/src/components/organisms/ChannelJoinFooter/index.tsx
  frontend/src/components/organisms/ChannelJoinFooter/styles.ts
  frontend/src/components/organisms/ChatContent/index.tsx
  frontend/src/components/organisms/ChatInputBar/Toolbar/index.tsx
  frontend/src/components/organisms/ChatInputBar/Toolbar/styles.ts
  frontend/src/components/organisms/ChatInputBar/index.tsx
  frontend/src/components/organisms/ChatInputBar/styles.ts
  frontend/src/components/organisms/EmojiModal/EmojiPopupTemplate/index.tsx
  frontend/src/components/organisms/EmojiModal/EmojiPopupTemplate/styles.ts
  frontend/src/components/organisms/EmojiModal/index.tsx
  frontend/src/components/organisms/EmojiModal/styles.ts
  frontend/src/components/organisms/ReactionBar/index.tsx
  frontend/src/components/organisms/ReactionBar/styles.ts
  frontend/src/global/api/reaction/index.ts
  frontend/src/global/util/inputEventHandlers.ts
Labels: ☀️ frontend, 🌙 backend, 📋 워크스페이스 - 채널 쓰레드

#162 feat: 무한 스크롤
  backend/src/routes/ReplyController.ts
  backend/src/routes/ThreadController.ts
  backend/src/sample/index.ts
  backend/src/service/FilesService.ts
  backend/src/service/ReplyService.ts
  backend/src/service/ThreadService.ts
  backend/src/service/WorkspaceService.ts
  frontend/src/components/molecules/ThreadContent/ThreadActions/index.tsx
  frontend/src/components/molecules/ThreadContent/index.tsx
  frontend/src/components/organisms/ChatContent/index.tsx
  frontend/src/components/organisms/ChatInputBar/Toolbar/index.tsx
  frontend/src/components/organisms/ReactionBar/index.tsx
  frontend/src/components/pages/WorkspaceList/index.tsx
  frontend/src/global/api/reaction/index.ts
  frontend/src/global/api/thread/index.ts
  frontend/src/hooks/useThreads.ts
  frontend/src/state/thread/index.ts
  frontend/src/state/user/index.ts
Labels: ☀️ frontend, 📋 워크스페이스 - 채널 쓰레드, ↩️ refactor

#164 feat: reply api를 제작하고 getPartialReplysByThreadId를 구현한다.
  backend/src/routes/ReplyController.ts
  backend/src/routes/index.ts
  backend/src/service/ReplyService.ts
  backend/src/service/ThreadService.ts
  frontend/src/global/api/reply/index.ts
Labels: 🌙 backend, 📋 워크스페이스 - 채널 쓰레드

#178 엔터키로 글쓰기 추가
  frontend/src/components/molecules/WysiwygEditor/index.tsx
  frontend/src/components/molecules/WysiwygEditor/styles.ts
  frontend/src/components/organisms/ChatContent/styles.ts
  frontend/src/components/organisms/ChatInputBar/Toolbar/index.tsx
  frontend/src/components/organisms/ChatInputBar/index.tsx
  frontend/src/global/util/inputEventHandlers.ts
Labels: 🐛 bug, ☀️ frontend

#179 검색바와 유저 프로필 구현, Autocomplete을 custom hook으로 리팩토링
  backend/src/repository/UserRepository.ts
  backend/src/routes/ChannelController.ts
  backend/src/routes/UserHasWorkspaceController.ts
  backend/src/service/ChannelService.ts
  backend/src/service/UserHasWorkspaceService.ts
  frontend/src/components/atoms/Autocomplete/index.tsx
  frontend/src/components/atoms/IconButton/index.tsx
  frontend/src/components/atoms/Popup/index.tsx
  frontend/src/components/molecules/EmojiPopup/EmojiPopupTemplate/index.tsx
  frontend/src/components/molecules/EmojiPopup/index.tsx
  frontend/src/components/molecules/MentionPopup/MentionPopupTemplate/index.tsx
  frontend/src/components/molecules/MentionPopup/index.tsx
  frontend/src/components/molecules/ThreadContent/index.tsx
  frontend/src/components/molecules/WysiwygEditor/index.tsx
  frontend/src/components/organisms/ChannelMembers/MemberElement/index.tsx
  frontend/src/components/organisms/ChannelMembers/MemberTemplate/index.tsx
  frontend/src/components/organisms/ChannelMembers/index.tsx
  frontend/src/components/organisms/ChannelMembers/styles.ts
  frontend/src/components/organisms/MemberElement/index.tsx
  frontend/src/components/organisms/MemberElement/styles.ts
  frontend/src/components/organisms/UserProfileModal/index.tsx
  frontend/src/components/organisms/UserProfileModal/styles.ts
  frontend/src/components/organisms/WorkspaceHeader/SearchResultTemplate/ChannelElement/index.tsx
  frontend/src/components/organisms/WorkspaceHeader/SearchResultTemplate/ChannelElement/styles.ts
  frontend/src/components/organisms/WorkspaceHeader/SearchResultTemplate/SearchResultModal/index.tsx
  frontend/src/components/organisms/WorkspaceHeader/SearchResultTemplate/SearchResultModal/styles.ts
  frontend/src/components/organisms/WorkspaceHeader/SearchResultTemplate/index.tsx
  frontend/src/components/organisms/WorkspaceHeader/SearchResultTemplate/styles.ts
  frontend/src/components/organisms/WorkspaceHeader/index.tsx
  frontend/src/components/organisms/WorkspaceHeader/styles.ts
  frontend/src/components/templates/Workspace/index.tsx
  frontend/src/global/type/index.ts
  frontend/src/global/util/inputEventHandlers.ts
  frontend/src/hooks/useChannels.ts
  frontend/src/hooks/useKeyboardNavigator.ts
  frontend/src/hooks/useUsers.ts
  frontend/src/state/modal/index.ts
Labels: 🐛 bug, ⚡ enhancement, ☀️ frontend, 🌙 backend, ↩️ refactor

#171 feat : reply에 front단을 통한 crud 구현
  backend/src/@types/express/index.d.ts
  backend/src/model/Reaction.ts
  backend/src/model/Reply.ts
  backend/src/routes/ReactionController.ts
  backend/src/service/ReactionService.ts
  backend/src/service/ReplyService.ts
  frontend/jest.config.js
  frontend/package.json
  frontend/src/components/molecules/ThreadContent/ThreadActions/index.tsx
  frontend/src/components/molecules/ThreadContent/index.tsx
  frontend/src/components/organisms/ChatInputBarForUpdate/index.tsx
  frontend/src/components/organisms/ChatInputBarForUpdate/toolbar/index.tsx
  frontend/src/components/organisms/ReactionBar/index.tsx
  frontend/src/components/organisms/ReplyContent/index.tsx
  frontend/src/global/api/index.ts
  frontend/src/global/api/reaction/index.ts
  frontend/src/global/api/reply/index.ts
  frontend/src/global/type/index.ts
  frontend/src/hooks/useAbstract.ts
  frontend/src/hooks/useReplys.ts
  frontend/src/hooks/useSocket.ts
  frontend/src/hooks/useThreads.ts
  frontend/src/test/workspacelist.test.tsx
  frontend/yarn.lock
Labels: 💁🏻 help wanted, ☀️ frontend, 🌙 backend, 📋 워크스페이스 - 채널 쓰레드, ↩️ refactor
