Repository boostcampwm-2021/web06-booslack, pull requests merged in 2021-12, with the labels that each got.

#189 feat: 입력한 내용과 쓰레드를 채팅창에서 확인할 수 있다.
  backend/src/config/GithubPassport.ts
  backend/src/model/File.ts
  backend/src/routes/FilesController.ts
  backend/src/routes/ReplyController.ts
  backend/src/routes/ThreadController.ts
  backend/src/routes/UserController.ts
  backend/src/service/FilesService.ts
  backend/src/service/ReplyService.ts
  backend/src/service/ThreadService.ts
  backend/src/service/UserService.ts
  backend/src/service/WorkspaceService.ts
  frontend/src/components/molecules/SelectWorkspace/index.tsx
  frontend/src/components/molecules/ThreadContent/ThreadFileStatusBar/index.tsx
  frontend/src/components/molecules/ThreadContent/ThreadFileStatusBar/styles.ts
  frontend/src/components/molecules/ThreadContent/ThreadFileStatusElement/index.tsx
  frontend/src/components/molecules/ThreadContent/ThreadFileStatusElement/styles.ts
  frontend/src/components/molecules/ThreadContent/index.tsx
  frontend/src/components/molecules/ThreadContent/styles.ts
  frontend/src/components/organisms/ChatInputBar/Toolbar/index.tsx
  frontend/src/components/organisms/ChatInputBar/index.tsx
  frontend/src/components/organisms/LoginContent/index.tsx
  frontend/src/components/organisms/MemberElement/index.tsx
  frontend/src/components/organisms/MemberElement/styles.ts
  frontend/src/components/organisms/ReplyContent/index.tsx
  frontend/src/components/organisms/SetupTeamQuestions/index.tsx
  frontend/src/components/organisms/UserProfileModal/index.tsx
  frontend/src/components/organisms/WorkspaceHeader/index.tsx
  frontend/src/components/organisms/WorkspaceHeader/styles.ts
  frontend/src/components/pages/InvitedCode/index.tsx
  frontend/src/components/pages/InvitedCode/style.ts
  frontend/src/components/templates/Code/styles.ts
  frontend/src/components/templates/Workspace/index.tsx
  frontend/src/global/api/reply/index.ts
  frontend/src/global/api/thread/index.ts
  frontend/src/global/type/index.ts
  frontend/src/global/util/auth.ts
  frontend/src/global/util/transfromDate.ts
Labels: ☀️ frontend, 🌙 backend, Priority : Middle, 📋 워크스페이스 - 채널 쓰레드, ↩️ refactor

#190 한글 입력과 관련된 에러를 위주로 수정
  frontend/src/components/molecules/SidebarChannelElement/index.tsx
  frontend/src/components/molecules/ThreadContent/ThreadActions/index.tsx
  frontend/src/components/molecules/ThreadContent/index.tsx
  frontend/src/components/molecules/WysiwygEditor/index.tsx
  frontend/src/components/organisms/ReactionBar/index.tsx
  frontend/src/components/organisms/SidebarChannelInfoModal/index.tsx
  frontend/src/components/organisms/SidebarChannelInfoModal/styles.ts
  frontend/src/components/organisms/WorkspaceSidebar/index.tsx
  frontend/src/components/templates/Workspace/index.tsx
  frontend/src/global/util/inputEventHandlers.ts
  frontend/src/state/modal/index.ts
Labels: 🐛 bug

#188 feat : 기본적인 페이지들 테스트 구현
  frontend/jest.config.js
  frontend/package.json
  frontend/src/components/atoms/ViewPortInput/index.tsx
  frontend/src/components/atoms/ViewPortInput/styles.ts
  frontend/src/components/molecules/ChatInput/index.tsx
  frontend/src/components/molecules/ChatInput/styles.ts
  frontend/src/components/molecules/SearchBar/index.tsx
  frontend/src/components/molecules/SearchBar/styles.ts
  frontend/src/components/organisms/BrowseChannelList/index.tsx
  frontend/src/components/organisms/BrowseChannelList/styles.ts
  frontend/src/components/organisms/ChatInputBarForUpdate/toolbar/index.tsx
  frontend/src/components/organisms/PreferenceModal/AboutUs/AboutUs.tsx
  frontend/src/components/organisms/ReplyContent/styles.ts
  frontend/src/components/organisms/WorkspaceHeader/index.tsx
  frontend/src/components/organisms/WorkspaceListContent/index.tsx
  frontend/src/components/organisms/WorkspaceListContent/styles.ts
  frontend/src/components/templates/WorkspaceList/index.tsx
  frontend/src/components/templates/WorkspaceList/styles.ts
  frontend/src/enum/index.ts
  frontend/src/global/image/wavingHandFromSlack.gif
  frontend/src/global/module.d.ts
  frontend/src/global/theme/index.ts
  frontend/src/global/util/index.ts
  frontend/src/hooks/usePagination.ts
  frontend/src/test/DefaultEnvironment.tsx
  frontend/src/test/page.test.tsx
  frontend/src/test/router.test.tsx
  frontend/src/test/workspacelist.test.tsx
  frontend/yarn.lock
Labels: ⚡ enhancement, 🧪 test code, Priority : Low

#192 fix: 백엔드 build 오류 수정
  backend/src/@types/express/index.d.ts
  backend/src/service/FilesService.ts
Labels: 🐛 bug

#197 refactor: Suspense와 ErrorBoundary를 이용한 로딩 처리
  frontend/src/App.tsx
  frontend/src/components/atoms/ErrorBoundary/index.tsx
  frontend/src/components/atoms/Spinner/index.tsx
  frontend/src/components/atoms/Spinner/style.ts
  frontend/src/components/molecules/AsyncBranch/index.tsx
  frontend/src/components/organisms/BrowseChannelList/index.tsx
  frontend/src/components/organisms/BrowseContent/index.tsx
  frontend/src/components/organisms/ChannelInfoModal/index.tsx
  frontend/src/components/organisms/ChannelInfoModal/styles.ts
  frontend/src/components/organisms/ChannelMembers/index.tsx
  frontend/src/components/organisms/ChatContent/index.tsx
  frontend/src/components/organisms/WorkspaceContent/index.tsx
  frontend/src/components/organisms/WorkspaceListContent/index.tsx
  frontend/src/components/organisms/WorkspaceSidebar/index.tsx
  frontend/src/components/templates/Workspace/index.tsx
  frontend/src/global/options/index.ts
  frontend/src/hooks/useInfinityPage.ts
  frontend/src/hooks/usePagination.ts
  frontend/src/hooks/useUsers.ts
Labels: ☀️ frontend, ↩️ refactor

#196 스레드 컨텐트가 리플라이에서도 재사용가능하도록 추상화
  frontend/src/components/atoms/ImageButton/index.tsx
  frontend/src/components/molecules/MessageContent/MessageActions/index.tsx
  frontend/src/components/molecules/MessageContent/MessageActions/styles.ts
  frontend/src/components/molecules/MessageContent/MessageFileStatusBar/index.tsx
  frontend/src/components/molecules/MessageContent/MessageFileStatusBar/styles.ts
  frontend/src/components/molecules/MessageContent/MessageFileStatusElement/index.tsx
  frontend/src/components/molecules/MessageContent/MessageFileStatusElement/styles.ts
  frontend/src/components/molecules/MessageContent/index.tsx
  frontend/src/components/molecules/MessageContent/styles.ts
  frontend/src/components/molecules/WysiwygEditor/index.tsx
  frontend/src/components/organisms/ChatContent/index.tsx
  frontend/src/components/organisms/ChatInputBarForUpdate/index.tsx
  frontend/src/components/organisms/ChatInputBarForUpdate/toolbar/index.tsx
  frontend/src/components/organisms/ReactionBar/index.tsx
  frontend/src/components/organisms/ReplyBar/index.tsx
  frontend/src/components/organisms/ReplyContent/index.tsx
  frontend/src/components/organisms/ReplyContent/styles.ts
  frontend/src/global/api/reaction/index.ts
  frontend/src/global/api/thread/index.ts
  frontend/src/global/type/index.ts
  frontend/src/global/util/message.ts
  frontend/src/global/util/reaction.ts
  frontend/src/global/util/reply.ts
  frontend/src/hooks/useReplys.ts
  frontend/src/hooks/useSocket.ts
  frontend/src/hooks/useThreads.ts
  frontend/src/hooks/useUsers.ts
  frontend/src/hooks/useWorkspace.ts
  frontend/src/state/user/index.ts
  frontend/src/state/workspace/index.ts
Labels: 🐛 bug, ☀️ frontend

#198 feat: 프로필 깜빡거리는 버그, 워크스페이스 생성 페이지 커버 구현 및 파일 다운로드 구현
  backend/src/model/UserHasWorkspace.ts
  backend/src/repository/UserHasWorkspaceRepository.ts
  backend/src/service/FilesService.ts
  backend/src/service/UserHasWorkspaceService.ts
  backend/src/service/WorkspaceService.ts
  frontend/src/components/molecules/ThreadContent/ThreadFileStatusElement/index.tsx
  frontend/src/components/molecules/ThreadContent/ThreadFileStatusElement/styles.ts
  frontend/src/components/molecules/ThreadContent/index.tsx
  frontend/src/components/organisms/ChatInputBar/FileStatusElement/index.tsx
  frontend/src/components/organisms/ChatInputBar/FileStatusElement/styles.ts
  frontend/src/components/organisms/ChatInputBar/index.tsx
  frontend/src/components/organisms/ChatInputBar/styles.ts
  frontend/src/components/organisms/WorkspaceHeader/index.tsx
  frontend/src/components/pages/InvitedCode/index.tsx
  frontend/src/components/pages/InvitedCode/style.ts
  frontend/src/components/templates/Workspace/index.tsx
  frontend/src/global/type/index.ts
  frontend/src/global/util/file.ts
Labels: 🐛 bug, ☀️ frontend, 🌙 backend, 📋 워크스페이스 - 채널 쓰레드

#199 채널 브라우저 채널 스타일링
  frontend/src/components/molecules/ChannelList/index.tsx
  frontend/src/components/molecules/ChannelList/styles.ts
  frontend/src/components/molecules/ChatHeader/styles.ts
  frontend/src/components/molecules/SelectbrowseChannelPage/styles.ts
  frontend/src/components/molecules/SortedOptionMordal/styles.ts
  frontend/src/components/organisms/BrowseContent/styles.ts
  frontend/src/components/organisms/BrowseMordalContainer/index.tsx
  frontend/src/components/organisms/BrowseMordalContainer/styles.ts
  frontend/src/components/organisms/ReplyContent/styles.ts
Labels: ☀️ frontend

#200 fix: 로그인 버튼 두 번 누르는 것을 한 번 누르는 것으로 변경하였습니다.
  backend/src/routes/LoginController.ts
  frontend/public/favicon.ico
  frontend/public/index.html
  frontend/src/components/molecules/MessageContent/MessageFileStatusBar/index.tsx
  frontend/src/components/molecules/MessageContent/MessageFileStatusElement/index.tsx
  frontend/src/components/molecules/MessageContent/MessageFileStatusElement/styles.ts
  frontend/src/components/molecules/MessageContent/index.tsx
  frontend/src/components/organisms/LoginContent/index.tsx
  frontend/src/components/organisms/LoginContent/style.ts
  frontend/src/components/organisms/ReplyContent/index.tsx
  frontend/src/components/pages/Changepassword/index.tsx
  frontend/src/components/pages/Changepassword/style.ts
  frontend/src/components/pages/InvitedCode/index.tsx
  frontend/src/components/pages/Login/index.tsx
  frontend/src/components/pages/Login/style.ts
  frontend/src/components/pages/Signup/index.tsx
  frontend/src/components/pages/Signup/style.ts
  frontend/src/global/image/title_booslack.png
  frontend/src/global/type/index.ts
  frontend/src/global/util/auth.ts
  frontend/webpack.config.js
  frontend/webpack.prod.config.js
Labels: 🐛 bug, 🌙 backend, 📋 워크스페이스 - 채널 쓰레드, ↩️ refactor

#202 fix: 버젼 확인하면서 여러 오류 수정 및 정리
  backend/src/repository/UserRepository.ts
  frontend/src/components/molecules/MentionPopup/MentionPopupTemplate/index.tsx
  frontend/src/components/molecules/MentionPopup/MentionPopupTemplate/styles.ts
  frontend/src/components/molecules/MessageContent/MessageFileStatusElement/styles.ts
  frontend/src/components/molecules/MessageContent/index.tsx
  frontend/src/components/molecules/MessageContent/styles.ts
  frontend/src/components/organisms/SetupTeamQuestions/index.tsx
  frontend/src/components/pages/InvitedCode/index.tsx
  frontend/src/components/templates/Code/styles.ts
  frontend/src/global/util/transfromDate.ts
Labels: 🐛 bug
